.database {
  display: flex;
  padding: 20px;
  width: 617px;
  height: 398px;
  flex-wrap: wrap;
  background-color: #f4eaea;
}

.seeMoreButton {
  margin-top: 50px;
  border-radius: 10px;
}

#dropdown-basic {
  display: flex;
  width: 500px;
  height: 50px;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 5px;
}
