.buttonGroupForum {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.accessoriesButton,
.needItemButton {
  width: 122px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
}

.accessoriesButton {
  margin-right: 10px;
}

.needItemButton {
  margin-left: 10px;
}

.messageAmount {
  background-color: rgb(255, 127, 150);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
}
