.buttonGroupForum {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  flex-wrap: wrap;
}

.accessoriesButton,
.needItemButton {
  width: 122px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
}

.accessoriesButton {
  margin-right: 10px;
}

.needItemButton {
  margin-left: 10px;
}
