.projectType {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  text-align: left;
  justify-content: space-around;
}
.projects {
  padding: 20px;
  width: 617px;
  height: 398px;
  background-color: #f4eaea;
}

.buttonGroup {
  margin-top: 75px;
}

.viewAll,
.newProject {
  border-radius: 10px;
}

.viewAll {
  margin-right: 20px;
}

.newProject {
  margin-left: 20px;
}
