.boxes {
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  grid-template-areas:
    "nav nav nav nav"
    "projects projects database database"
    "footer footer footer footer";
  grid-gap: 150px;
}

.dashBoardTitle {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  grid-row: 2 / 4;
  grid-column: 1 / 4;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.database {
  display: flex;
  flex-direction: column;
  padding: auto;
  align-items: center;
  grid-row: 2 / 4;
  grid-column: 3 / 3;
  align-items: center;
}

.forumPosition {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  grid-area: footer;
  margin-top: 50px;
}

.forumCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 893px;
  height: 121px;
  background-color: #f4eaea;
  font-weight: 800;
}

.dashBoardTitle {
  display: flex;
}

button {
  width: 147px;
  height: 44px;
  background-color: #84cee5;
  border: none;
  font-weight: 600;
}

@media (min-width: 200px) and (max-width: 700px) {
  .boxes {
    display: flex;
    flex-direction: column;
  }

  .projects {
    margin-left: 50px;
  }

  button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
